.App {
  text-align: center;
}

.bookshelf {
  width: 50%; /* Adjusted the width to make the bookshelf a bit larger */
  margin: 0 auto; /* Center the bookshelf */
}

button {
  margin-top: 10px; /* Add space between the bookshelf and the buttons */
}

input {
  margin-bottom: 10px; /* Add space below input fields */
}

button, input {
  display: block;
  margin-left: auto;
  margin-right: auto; /* Center buttons and input fields */
}
